<<<<<<< HEAD
// main: style.scss
/// Default color variables

$accent-color: #18d26e;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
=======
// main: style.scss
/// Default color variables

$accent-color: #18d26e;
$heading-color: #333333;
$text-color: #666666;

/// Fonts Variables
$accent-font: 'Montserrat', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
>>>>>>> 8fc1a07b38d7d5b0d3dc37c482b652169e476973
